@font-face {
  font-display: swap;
  font-family: 'Konstant';
  src: url('/assets/typography/konstant-grotesk.woff2') format('woff2'), url('/assets/typography/konstant-grotesk.woff') format('woff');
}

:root {
  --columns: 8;
  --gap-size: 1px;
  --grid-size: calc(100vmax / var(--columns));
  --main-color: black;
  --contrast-color: white;
  --highlight-color: #ff00ff;
  --typography-1: "Konstant", "Fugue", "Futura", "Helvetica";
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --wave-length: 199;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-resolution: 2dppx) {
  :root {
    --gap-size: 0.5px;
  }
}

@media (min-resolution: 3dppx) {
  :root {
    --gap-size: 0.333px;
  }
}

@media (min-resolution: 4dppx) {
  :root {
    --gap-size: 0.25px;
  }
}

::selection {
  background: var(--highlight-color);
  color: var(--contrast-color);
}

::-moz-selection {
  background: var(--highlight-color);
  color: var(--contrast-color);
}

body {
  align-items: center;
  background-color: var(--main-color);
  box-sizing: border-box;
  color: var(--contrast-color);
  display: flex;
  flex-direction: column;
  font-family: var(--typography-1);
  justify-content: center;
  font-feature-settings: 'liga' 1;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}

main {
  background-color: var(--contrast-color);
  border-bottom: 1px solid var(--contrast-color);
  border-top: 1px solid var(--contrast-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, minmax(calc(100vmax / 8), 1fr));
  grid-template-rows: repeat(4, minmax(calc(100vmax / 8), 1fr));
  grid-gap: var(--gap-size);
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

h1,
h2 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

strong {
  color: var(--highlight-color);
}

svg {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

main > section {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

section > div {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#logo {
  filter: invert(1);
  grid-row: span 2;
}

#logotype {
  font-size: 3vmax;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-orientation: sideways;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0.5turn);
  transform-box: fill-box;
  writing-mode: vertical-lr;
}

#signature {
  grid-column: span 3;
}

#spiral {
  background: repeating-radial-gradient(
    circle closest-side,
    transparent,
    transparent 0.5rem,
    var(--main-color) 0.5rem,
    var(--main-color) 1rem
  );
  background-repeat: no-repeat;
  background-size: cover;
}

#vanilla {
  grid-row: span 3;
}

#whoami {
  font-size: 1.25vw;
  grid-column: span 2;
  grid-row: span 2;
  hyphens: auto;
  line-height: 1.5;
  padding-left: 20%;
  padding-right: 20%;
}

[wave] {
  animation: wave 1s linear forwards;
  stroke-dasharray: var(--wave-length);
  stroke-dashoffset: calc(var(--wave-length) * 2);
}

@keyframes wave {
  to { stroke-dashoffset: 0 }
}

[half-size] {
  transform: scale(0.5);
}

[scale-slightly] {
  transform: scale(1.025);
}

[scale-up] {
  transform: scale(1.25);
}