@font-face {
  font-display: swap;
  font-family: "Konstant";
  src:
    url("/assets/typography/konstant-grotesk.woff2") format("woff2"),
    url("/assets/typography/konstant-grotesk.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Digestive";
  src:
    url("/assets/typography/digestive.woff2") format("woff2"),
    url("/assets/typography/digestive.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

:root {
  --gap-size: 2px;
  --area-size: 180px;
  --area-half-size: calc(var(--area-size) / 2);
  --main-color: #ECD44C;
  --secondary-color: #000;
  --accent-color-1: #00745B;
  --accent-color-2: #3E1BBC;
  --supplement-color-1: #DEA2B0;
  --supplement-color-2: #BDAAA2;
  --supplement-color-3: #9EA36C;
  --supplement-color-4: #FFF;
  --typography-1: "Konstant", "Fugue", "Futura", "Helvetica";
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-size-heading: calc(4rem + 4vw);
  --font-size-text: calc(var(--font-size-heading) / 4);
  --font-size-xxxl: calc(3rem + 2.5vw);
  --offset: 0;
  --wave-length: 0;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --main-color: #000;
    --secondary-color: #DDD;
    --accent-color-2: var(--supplement-color-1);
  }
}

::selection {
  background-color: var(--supplement-color-1);
  color: var(--secondary-color);
}

::-moz-selection {
  background-color: var(--supplement-color-1);
  color: var(--secondary-color);
}

* {
  box-sizing: border-box;
  position: relative;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  align-items: center;
  background-color: var(--main-color);
  box-sizing: border-box;
  color: var(--secondary-color);
  font-family: var(--typography-1);
  justify-content: center;
  font-feature-settings: "liga"1;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@supports (font-variant-ligatures: common-ligatures) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }
}

main {
  background-color: var(--secondary-color);
  box-sizing: border-box;
  display: grid;
  grid-auto-rows: var(--area-size);
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(var(--area-size), 1fr));
  grid-template-rows: repeat(4, minmax(var(--area-size), 1fr));
  grid-gap: var(--gap-size);
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100vw;
}

main::after {
  align-items: center;
  background-color: var(--main-color);
  bottom: 0;
  content: "";
  display: flex;
  height: var(--area-size);
  left: calc(var(--offset) * 1px);
  position: absolute;
  text-align: center;
  width: 100%;
}

h1,
h2,
h3 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}

h1,
h2 {
  font-family: "Digestive";
  font-size: var(--font-size-heading);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  color: var(--accent-color-1);
  font-weight: normal;
}

code {
  transform: scaleX(0.5);
}

em {
  font-style: normal;
  color: var(--accent-color-2);
}

small {
  font-size: 80%;
}

svg {
  fill: var(--secondary-color);
  height: auto;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

main>section {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

aside {
  mix-blend-mode: difference;
  opacity: 0.5;
  pointer-events: none;
  position: fixed;
  z-index: 1;
}

template {
  display: none;
}

#circle {
  fill: var(--accent-color-1);
}

#contact {
  background-color: var(--accent-color-2);
  color: var(--main-color);
  font-size: var(--font-size-text);
  grid-column: span 2;
}

#hello {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--font-size-text) * 1.2);
  grid-row: span 3;
}

#logo {
  background-color: var(--secondary-color);
  color: var(--main-color);
  grid-column: span 2;
  grid-row: span 3;
}

#logotype:after,
#logotype:before {
  content: attr(data-heading);
  left: 0;
  position: absolute;
  top: 0;
}

#logotype:after {
  transform: translateY(-80%);
}

#logotype:before {
  transform: translateY(80%);
}

#name {
  grid-column: span 3;
}

@media screen and (max-width: 543px) {
  #name {
    grid-column: span 2;
  }
}

#terminal {
  font-size: var(--font-size-xxxl);
}

#triangle {
  fill: var(--accent-color-2);
}

#wheel-of-death {
  cursor: wait;
}

#whoami {
  background-color: var(--secondary-color);
  color: var(--main-color);
  cursor: context-menu;
  font-size: var(--font-size-text);
  grid-column: span 2;
  grid-row: span 3;
  hyphens: auto;
  line-height: 1.4;
  padding-left: var(--area-half-size);
  padding-right: var(--area-half-size);
}

#year {
  background-color: inherit;
  color: var(--main-color);
  font-size: var(--font-size-xxxl);
  top: 1rem;
}

[absolute] {
  position: absolute;
}

[absolute-center] {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}

[blink] {
  animation: blink 1s cubic-bezier(1, 0, 0, 1) infinite;
  will-change: opacity;
}

[center] {
  align-items: center;
  display: flex;
  justify-content: center;
}

[circle] {
  right: calc(var(--area-size) * 1.5);
  top: 0;
}

[compass] {
  animation: compass 5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate;
  position: absolute;
  will-change: transform;
}

[hello] {
  opacity: 0;
  will-change: opacity;
}

[hidden] {
  display: none;
}

[link] {
  height: 100%;
  overflow-x: hidden;
  transform: translateY(40%);
}

[link]:after {
  color: transparent;
  content: attr(data-text) attr(data-text);
  left: 0;
  line-height: 2;
  position: absolute;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-decoration-style: wavy;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

[link]:hover:after {
  animation: wavy 1s linear infinite forwards;
}

[rings] {
  stroke: var(--secondary-color);
}

[rotate] {
  animation: rotate 1s linear infinite;
}

[rotate-slowly] {
  animation-duration: 10s;
}

[scale-slightly] {
  transform: scale(1.15);
}

[scale-up] {
  transform: scale(1.5);
}

[show] {
  animation: show 0.5s ease;
}

[triangle] {
  bottom: 0;
  left: calc(var(--area-size) * 1.5);
}

[wave] {
  animation: wave 1s 1s linear forwards;
  stroke-dasharray: var(--wave-length);
  stroke-dashoffset: calc(var(--wave-length) * 2);
  will-change: transform;
}

[hello]:nth-child(1) {
  animation-delay: 1s;
}

[hello]:nth-child(2),
[wave]:nth-child(2) {
  animation-delay: 1.1s;
}

[hello]:nth-child(3),
[wave]:nth-child(3) {
  animation-delay: 1.2s;
}

[hello]:nth-child(4),
[wave]:nth-child(4) {
  animation-delay: 1.3s;
}

[hello]:nth-child(5),
[wave]:nth-child(5) {
  animation-delay: 1.4s;
}

[hello]:nth-child(6),
[wave]:nth-child(6) {
  animation-delay: 1.5s;
}

[hello]:nth-child(7),
[wave]:nth-child(7) {
  animation-delay: 1.6s;
}

[hello]:nth-child(8),
[wave]:nth-child(8) {
  animation-delay: 1.7s;
}

[hello]:nth-child(9) {
  animation-delay: 1.8s;
}

[hello]:nth-child(10) {
  animation-delay: 1.9s;
}

[hello]:nth-child(11) {
  animation-delay: 2s;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes compass {
  to {
    transform: rotate(15deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes wave {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes wavy {
  to {
    transform: translateX(-49%);
  }
}